<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PennappsPreMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>921B18371C49E73D00B62994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>921B184D1C49E73D00B62994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>921B18581C49E73D00B62994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
